h2{
    color: darkred;
}
p{color: rgb(0, 0, 0);}
p1{color: rgb(14, 3, 56);}
legend{color: darkred;}
p2{color: olive;}
body {background-color: rgba(216, 206, 206, 0.949);}
fieldset{background-color: burlywood;}
legend {background-color: blanchedalmond;}
legend1 {color: aliceblue;}
fieldset1{background-color: black;}